html {
  font-size: 10px;
  text-align: center;
}

/*
It is often useful to set box-sizing to border-box to layout 
elements. This makes dealing with the sizes of elements much 
easier, and generally eliminates a number of pitfalls you 
can stumble on while laying out your content. 
*/
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 3rem;
 
}

.title {
  font-size: 4.4rem;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  padding: 2rem 2rem;
  border-radius: 2rem;   
}

.form {
    /*display:grid;*/
}

.input {
  width: 80%;
  height: 80%;
}

.button {
  margin: 1rem .5rem;
}


.label {
  font-size: 2rem;
  margin: 1rem 1rem;
  /*text-transform: uppercase;*/
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  margin-bottom: 2rem;
  background-color: white;
  text-align: left;
}

.card--title {
  font-size: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  /*max-width: 80%;*/
  padding: .5rem;
}

.card--reply {
  font-size: 2.5rem;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.10);
  margin-left: 2rem;
}

p {
  font-size: 1.5rem;
}

/* For popup support - Modal is the first layer */
.modal {
  position: fixed;
  width: 50%;
  height: 50%;
  margin: auto;
  /*background-color: rgba(0, 0, 0, 0.50);*/
}

/* For popup support - 2nd layer - Popup content */
/* Keep position absolute to ties to 1st layer */
.modal_content {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background-color: rgb(185, 184, 184); 
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.10);  
}